@font-face {
    font-family: 'Palanquin';
    src: url('Palanquin-Regular.eot');
    src: url('Palanquin-Regular.eot?#iefix') format('embedded-opentype'),
        url('Palanquin-Regular.woff2') format('woff2'),
        url('Palanquin-Regular.woff') format('woff'),
        url('Palanquin-Regular.ttf') format('truetype'),
        url('Palanquin-Regular.svg#Palanquin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Palanquin';
    src: url('Palanquin-Bold.eot');
    src: url('Palanquin-Bold.eot?#iefix') format('embedded-opentype'),
        url('Palanquin-Bold.woff2') format('woff2'),
        url('Palanquin-Bold.woff') format('woff'),
        url('Palanquin-Bold.ttf') format('truetype'),
        url('Palanquin-Bold.svg#Palanquin-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Palanquin';
    src: url('Palanquin-ExtraLight.eot');
    src: url('Palanquin-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Palanquin-ExtraLight.woff2') format('woff2'),
        url('Palanquin-ExtraLight.woff') format('woff'),
        url('Palanquin-ExtraLight.ttf') format('truetype'),
        url('Palanquin-ExtraLight.svg#Palanquin-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Palanquin';
    src: url('Palanquin-Light.eot');
    src: url('Palanquin-Light.eot?#iefix') format('embedded-opentype'),
        url('Palanquin-Light.woff2') format('woff2'),
        url('Palanquin-Light.woff') format('woff'),
        url('Palanquin-Light.ttf') format('truetype'),
        url('Palanquin-Light.svg#Palanquin-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Palanquin';
    src: url('Palanquin-Thin.eot');
    src: url('Palanquin-Thin.eot?#iefix') format('embedded-opentype'),
        url('Palanquin-Thin.woff2') format('woff2'),
        url('Palanquin-Thin.woff') format('woff'),
        url('Palanquin-Thin.ttf') format('truetype'),
        url('Palanquin-Thin.svg#Palanquin-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Palanquin';
    src: url('Palanquin-SemiBold.eot');
    src: url('Palanquin-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Palanquin-SemiBold.woff2') format('woff2'),
        url('Palanquin-SemiBold.woff') format('woff'),
        url('Palanquin-SemiBold.ttf') format('truetype'),
        url('Palanquin-SemiBold.svg#Palanquin-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Palanquin';
    src: url('Palanquin-Medium.eot');
    src: url('Palanquin-Medium.eot?#iefix') format('embedded-opentype'),
        url('Palanquin-Medium.woff2') format('woff2'),
        url('Palanquin-Medium.woff') format('woff'),
        url('Palanquin-Medium.ttf') format('truetype'),
        url('Palanquin-Medium.svg#Palanquin-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

