{{ define "main" }}
<section id="list-slides">
    <div class="container">

        <h1>Slides</h1>

    <ul>
        <li>
            <a href="/20200213_W3C-prague.html">Paged.js, technical part</a><br>
            [en] W3C Workshop on CSS Print – February 13th, 2020 – Prague, Czech Republic
        </li>

        <li>
            <a href="/20200113_INHA-chiragan.html">Présentation de la&nbsp;publication numérique et&nbsp;imprimée du&nbsp;catalogue des&nbsp;sculptures de&nbsp;la&nbsp;villa romaine de&nbsp;Chiragan</a><br>
            [fr] Les Lundis numériques de l'INHA – 13 janvier 2020
        </li>

            <li>
                    <a href="/20191124_Torino.html">Paged.js: a Demo</a><br>
                    [en] Publishing Fair – November 24, 2019 – Torino, Italia
                </li>
        <li>
                <a href="/20191004_sem-artec-editions.html">Du fanzine à l’encyclopédie, éditions avec et après le numérique</a><br>
                [fr] Séminaire <em>Dé-brancher l’œuvre</em>, master ArTeC, Université Paris – 8, 4 octobre 2019
            </li>
        <li>
            <a href="/20190626_DigitalPublishingSummit.html">Print Books with Browsers, Designing books in browsers using Paged.js</a><br>
            [en] Digital Publishing Summit – May 26, 2019 – BnF, Paris
        </li>
        <li>
            <a href="/20190613_write-the-doc.html">Paged.js presentation</a><br/>
            [en/fr] Write the doc – 13 juin 2019, Paris
        </li>
        <li>
            <a href="/20190406_jdll.html">Faire des livres avec un navigateur</a><br/>
            [fr] JDLL – 6 avril 2019, Lyon
        </li>
        <li>
            <a href="/20181027_crihn.html">Imprimé, <em>single source publishing</em> et technologies du web</a><br/>
            [fr] CRIHN « Repenser les humanités numériques » – 27 octobre 2018, Montréal
        </li>
        <li>
            <a href="/20180820_Lure.html">Paginer le flux</a><br/>
            [fr] Rencontres de Lure – 20 août 2018, Lurs
        </li>
        <li>
            <a href="/20180412_Coko_Athenes.html">HTML and CSS books: An introduction to automatic typesetting</a><br/>
            [eng] Coko team meeting – April 2018, Athens
        </li>

    </ul>
    </div>
</section>
{{ end }}

