{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article id="page-{{- .Params.id -}}">

	<!-- <p>
		{{/*
		CurrentSection allows us to use the section title instead of inferring from the folder.
		https://gohugo.io/variables/page/#section-variables-and-methods
		*/}}
		{{with .CurrentSection.Title }}{{. | upper }}{{end}}
	</p> -->


	<h1>{{- .Title -}}</h1>

	{{- .Content -}}



</article>


{{ end }}