{{ define "main" }}
<div>
	<article>
		<header>
			<p>
				{{ humanize .Section | upper }}
			</p>
			<h1>
				{{ .Title }}
			</h1>
		</header>
		<div>
			{{ .Content }}
		</div>
	</article>
</div>
{{ end }}