{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article id="page-{{- .Params.id -}}">

	<!-- <p>
		{{/*
		CurrentSection allows us to use the section title instead of inferring from the folder.
		https://gohugo.io/variables/page/#section-variables-and-methods
		*/}}
		{{with .CurrentSection.Title }}{{. | upper }}{{end}}
	</p> -->


	<h1>{{- .Title -}}</h1>

	{{- .Content -}}


	
</article>

<aside class="paginator {{ if and .NextInSection .PrevInSection }} both {{ end }}">
	<div class="container">
	{{ with .NextInSection }}
	  <a class="previous" href="{{.Permalink}}"><span>{{.Title}}</span></a>
	{{ end }}
	{{ if .NextInSection }}
	  {{ with .PrevInSection }}
		<a class="next" href="{{.Permalink}}"><span>{{.Title}}</span></a>
	  {{ end }}
	{{ else }}
	  {{ with .PrevInSection }}
		<a class="next alone" href="{{.Permalink}}"><span>{{.Title}}</span></a>
	  {{ end }}
	{{ end }}
</div>
  </aside>


{{ end }}