{{ define "main" }}
<section id="about-blog">
	<div class="container">
		<h1>{{if eq .Site.Language.Lang "fr"}}Billets de blog {{else}}Writing{{end}}</a>
			
			{{if ne .Title "Blogs"}}
			{{if ne .Title "Tags"}}
			<span class="tag-title">{{ .Title }}</span>
			{{ end }}
			{{ end }}
		</h1>
		<!-- {{ block "tags-list" . }}{{ partial "tags-list.html" . }}{{ end }} -->
		
	</div>
</section>

<section id="list-post">
	<ul class="container">
	{{ with .Site.GetPage "section" "blog" }}
	{{ range .Pages.ByDate.Reverse }}
	{{ .Render "summary" }}
	{{ end }}
	{{ end }}
</ul>
</section>
{{ end }}