{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}

<article id="page-{{- .Params.id -}}">



	{{if eq .Site.Language.Lang "fr"}}
	{{ if eq .Params.langfr false }}
	<p class="dont-exist">Désolé, ce billet n'existe pas en français.</p>
	{{ end }}
	{{ end }}

	{{if eq .Site.Language.Lang "en"}}
	{{ if eq .Params.langen false }}
	<p class="dont-exist">Sorry, this post doesn't exist in English.</p>
	{{ end }}
	{{ end }}

	<header>
		<div class="container">
			<div id="container-date-tags">
				{{ if eq .Params.langfr false }}
				<p id="date">{{ .Date.Format "January 2, 2006" }}</p>
				{{ else }}
				{{ $month_names := slice "janvier" "février" "mars" "avril" "mai" "juin" "juiller" "août" "septembre" "octobre" "novembre" "décembre" }}
				{{ $month := sub .Date.Month 1 }}
				<p id="date">{{ .Date.Day }} {{ index $month_names $month }} {{ .Date.Year }}</p>
				{{ end }}
				{{ with .Params.tags }}
				<!-- <ul id="tags">
					{{ range . }}
					<li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul> -->
				{{ end }}
			</div>


			<h1>
				{{- .Title -}}
			</h1>

			<aside id="infos">

				{{if eq .Site.Language.Lang "fr"}}
					{{ if .Params.externalURL }}
						<p>Ce billet a été originellement publié sur le site <a href="{{.Params.externalURL}}">{{.Params.externalSite}}.</a></p>
					{{ end }}
					{{ if .Params.linkedProject }}<p><a href="/projects/{{ .Params.linkedProject }}">Voir le projet lié</a></p>{{ end }}		
					{{ if eq .Params.langen true }}
					<p>Article also in [english]: <a href="/en/{{.Page.File.Dir}}">{{.Params.titleEn}}</a></p>
					{{ end }}
				{{ end }}

				{{if eq .Site.Language.Lang "en"}}
				{{ if .Params.externalURL }}
					<p>This post was originally published on <a href="{{.Params.externalURL}}">{{.Params.externalSite}}.</a></p>
				{{ end }}
				{{ if .Params.linkedProject }}<p><a href="/en/projects/{{ .Params.linkedProject }}">See the project</a></p>{{ end }}
				{{ if eq .Params.langfr true }}
				<p>Billet aussi en [français] <a href="{{.Page.File.Dir}}">{{.Params.titleFr}}</a></p>
				{{ end }}
				{{ end }}


			</aside>

		</div>
	</header>

	<div class="content container">
		<span id="first-elem"></span>
		{{- .Content -}}

	</div>


</article>


<aside class="paginator {{ if and .NextInSection .PrevInSection }} both {{ end }}">
	<div class="container">
	{{ with .NextInSection }}
	  <a class="previous" href="{{.Permalink}}"><span>{{.Title}}</span></a>
	{{ end }}
	{{ if .NextInSection }}
	  {{ with .PrevInSection }}
		<a class="next" href="{{.Permalink}}"><span>{{.Title}}</span></a>
	  {{ end }}
	{{ else }}
	  {{ with .PrevInSection }}
		<a class="next alone" href="{{.Permalink}}"><span>{{.Title}}</span></a>
	  {{ end }}
	{{ end }}
	</div>
</aside>


{{ end }}