#page-blog{

    --max-width-text: 820px;
    counter-reset: note;

  
    .dont-exist{
        font-weight: 600;
        text-align: center;
        margin-top: calc(var(--baseline)*2);
    }

    h1{
        margin-top: 0;
        margin-bottom: calc(var(--baseline)*2);
        // font-weight: 600;
        font-size: calc(var(--font-size)*2.2)!important;
        line-height: calc(var(--font-size)*2.6)!important;
        @include queries(phone) { margin-top: 0!important }
    }

    article header {
        @include queries(desktop) {
            border-bottom: var(--border);
        }
        // @include queries(phone) { 
        //     padding-bottom: calc(var(--baseline)*1.5);
        //     margin-bottom: calc(var(--baseline)*2);
        // }
 
    }

    #container-date-tags{
        @include queries(desktop) {
            display: flex; 
            align-items: flex-start;
            margin-top: calc(var(--baseline)*1.5);
            margin-bottom: calc(var(--baseline)*0.5);
        }
        @include queries(phone) {
            margin-top: calc(var(--baseline)*3);
            margin-bottom: calc(var(--baseline)*0.5);
        }
        #date{ 
            margin: 0;
            margin-right: 20px;
            display: inline-block; 
            @include queries(phone) { font-size: var(--font-size-small);}
        }
            ul{
                list-style-type: none;
                margin: 0;
                @include queries(phone) { display: none; }
                li{
    
                    display: inline; 
                    padding: 0;
                    padding-right: 8px;
                    font-size: var(--font-size-small);
                    margin-right: 10px;
                    a{ 
                        font-weight: 600; 
                        text-decoration: none;
                        color: currentColor;
                    }
                    &::before{ 
                        content: '#'; 
                        position: relative; 
                        
                     }
                     &:hover{
                         color: var(--color-light);
                         a{ text-decoration: underline dotted; }
                     }
                }
            }
        
    }


    #infos{
        
        font-style: italic;
        margin-bottom: calc(var(--baseline)*0.5);
        
        
        @include queries(desktop) {
            text-align: right;
        }
        @include queries(phone) {
            // margin-top: calc(var(--baseline)*3);
            // margin-bottom: calc(var(--baseline)*0.5);
        }
        p{ 
            color: var(--light-grey);
            margin: 0;
            font-size: var(--font-size-small);
            @include queries(phone) { 
                line-height: var(--line-height-small);
                padding-left: 25px;
            }
            a{
                color: currentColor;
                &:hover{ color: var(--color-light); }
            }
            
            &:before{
                content: "⤍";
                font-weight: 500;
                padding-right: 6px;
                @include queries(phone) {
                    display: block; 
                    position: absolute;
                    left: 0;
                }
            }
        }
    }

    article .content{
        margin-top: var(--baseline);
        // max-width: var(--max-width-text);
        @media screen and (min-width: 900px){
            padding-right: calc(var(--max-width) - var(--max-width-text));
        }
       

        figure{
            margin-top: calc(var(--baseline)*2);
            margin-bottom: calc(var(--baseline)*1);
            width: 100%;
            max-width: var(--max-width-text);
            
            figcaption{
                font-size: var(--font-size-small);
                line-height: var(--line-height-small);
                padding-bottom: calc(var(--baseline)*1);
                margin: calc(var(--baseline)*1) auto;
                text-align: center;
                max-width: 500px;
                color: var(--light-grey);
                // background-color: yellow;
            }
    
            img{ width: 100%;}
            
        }

        ul li{
            margin-bottom: calc(var(--baseline)*0.5);
        }

        hr{
            display: block;
            margin-top: calc(var(--baseline)*2);
            margin-bottom: calc(var(--baseline)*2);
            border: var(--border);
            // color: red;
            // height: var(--baseline);
        }

        // hr::before{ content: "---"}


    } /* .content */




    article footer{ 
        .container{ border-top: var(--border); }
        color: var(--light-grey);
        
        p, li{ 
            font-weight: 600; 
            color: var(--light-grey);
            a { 
                color: var(--light-grey);
                &:hover{ color: var(--color-light)}
            }
        }
    }

}



/* SPECIFIC */

#page-hackathon{
    figure + figure {
        margin-top: 0!important;
    }
}