
#about-blog  {
    padding-bottom: 0!important;
    h1{
        margin-bottom: calc(var(--baseline)*0.5)!important;
            
        .tag-title {
            &:before{ content: "# "}
            font-size: var(--font-size);
            font-weight: 600;
            padding-left: 10px;
        }
    }  
     a {
         color: var(--color);
         font-weight: 600;
         padding-left: 3px;
         
     }

     #tags-list {
        font-size: var(--font-size-small);
        color: var(--color);
        @media screen and (max-width: 700px){ display: none; }
        li{
            display: inline-block;
            padding-right: 10px;
            cursor: pointer;
            &:before{ content: "# "}
            &:first-of-type:before{ display: none; }
            &:hover{ 
                color: var(--color-light);
                a{ 
                    text-decoration: underline dotted; 
                    color: var(--color-light);
                }
            }
         }
     } 
}

#list-post{
    padding-top: 0!important;

    .other-lang { 
        h1{ color: var(--light-grey); }
     }

    ul li{
        @media screen and (min-width: 700px){
            display: flex;
            align-items: flex-start;
            justify-content: space-between;         
            margin-bottom: calc(var(--baseline)*0.5);
        }
     
        // border-bottom: var(--border);

        aside{
            display: flex;
            position: relative;
            top: 2px;
            @media screen and (max-width: 700px){
                padding-bottom:  var(--baseline);
                padding-left: 30px;
                color: var(--light-grey);
            }
        }

        .date {
            width: 160px;
            font-size: var(--font-size-small);
        }

        .lang-article{
            &::before{ content: "["}
            &::after{ content: "]"}
            width: 60px;
            text-transform: uppercase;
            font-size: var(--font-size-small);
            padding-right: 16px;
        }
    
        h1{
            font-size: var(--font-size)!important;
            line-height: var(--baseline)!important;
            margin-bottom: 0;
            font-weight: 600;
            padding-left: 30px;
            padding-right: 30px;
            @media screen and (min-width: 700px){
                padding-bottom:  var(--baseline);
                max-width: 800px;
            }

          
            
            &:before{ 
                position: absolute;
                content: "⟡";
                font-weight: 600;
                left: 0px;
            }
            
        }

        &:hover h1{
            color: var(--color)!important;
        }
    }

} 