body{

  --color-text: #333;
  color: var(--color-text);
  // --font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  --font-family: 'Palanquin',  -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-family: var(--font-family);
  

    @include queries(phone) { 
      font-size: 16px; 
      --font-size: 16px; 
      --baseline: 20px;
      line-height: var(--baseline);
    }
    @include queries(desktop) { 
      
      --font-size: 20px; 
      --baseline: 28px;
      font-size: var(--font-size); 
      line-height: var(--baseline);
    }
    @include queries(desktop-hd) { 
      font-size: 22px; 
      --font-size: 22px; 
      --baseline: 30px;
      line-height: var(--baseline);
    }

 
    

    // --color: #8080ff;
    --color: #f65058;
    // --color-second: #66a3ff;
    --background-site: white;
    // --color-light: #777;
    --color-light: #fa999e;
    --color-light-bg: #fee7e8;
    // --color-hover: #555;
    --color-hover: #f3666d;
    --color-bg-code: #eee;
    --light-grey: #777;
    --border:  1px solid  #d9d9d9;
    --font-size-small: 16px;
    --line-height-small: 22px;

    --max-width: 940px;
    @include queries(desktop-hd) { --max-width: 1080px; }
    --margins: 20px;

}

// main {
//   margin-bottom: 40vh;
// }

* {
  font-weight: 400;
}

strong {
  font-weight: 600; 
  color: #222;
  em { font-weight: 600; }
}

@mixin max-width() {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--baseline) var(--margins);
}



#page-home section,
#page-blog section,
#page-tags section {

  padding-top: calc(var(--baseline)*1.5);
  padding-bottom: calc(var(--baseline)*2);
  &:target{ padding-top: calc(var(--baseline)*5);}
  @include queries(phone) {  &:target{ padding-top: calc(var(--baseline)*6.5);} }

  .container{
      @include max-width();
  }
}


#page-projects article,
#page-blog .container{
  @include max-width();
}


/* mettre le footer en bas */

body{
  min-height:100vh; 
	display:flex;
	flex-direction:column; 
}

main{
    flex-grow: 1; 
}


#back{
  border-top: var(--border);
  .container{
    @include max-width();
    padding-top: calc(var(--baseline)*0.5);
    padding-bottom: calc(var(--baseline)*0.5);
  }
  p{
    color: var(--light-grey);
    font-size: var(--font-size-small);
    &::before{ 
      content: "← ";
      padding-right: 8px;
    }
    &:hover{ color: var(--color-light); }
  }
}



