#cv{
    max-width: var(--max-width);
    margin: calc(var(--baseline)*2) auto 40vh auto;
    padding: 0 var(--margins);
}



#cv, #printcv {

    color: var(--color-text);

    p,
    ul {
        font-size: var(--font-size);
        line-height: var(--baseline);
    }

    .header-cv{

        font-size: var(--font-size);
        line-height: var(--baseline);
        .mail a {
            color: currentColor;
            text-decoration: none!important;
            font-weight: 600;
        }

        @media screen {
            .website{ display: none; }
        }
    }

    .intro-cv{
        margin-top: calc(var(--baseline)*3);
    }

    h1 {
        margin-top: calc(var(--baseline)*4);
        margin-bottom: calc(var(--baseline)*1.5);
        font-size: var(--font-size);
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 2px dashed currentColor;
        @include queries(phone){
            border-bottom: 1px dashed currentColor;
        }
        font-weight: 500;
        color: var(--color);
        small{
            font-size: var(--font-size)l;
            text-transform: none;
            letter-spacing: 0px;
        }
    }

    & > h1 {
        margin-top: calc(var(--baseline)*2.5);
        border-bottom: none;
        color: currentColor;
        font-size: calc(var(--font-size)*2.2) !important;
        line-height: calc(var(--font-size)*2.6) !important;
        text-transform: none;
        letter-spacing: 0px;
        font-weight: normal;
    }

    h1 + h2{
        margin-top: calc(var(--baseline)*-1);
    }

    .header-cv{
        font-weight: 600;
    }

    .formation,
    .enseignement,
    .workshops, 
    .conferences,
    .events {
        h2 {
            font-size: var(--font-size);
            position: relative;
            top: var(--baseline);
            color: var(--color);
        }

       

        p,
        ul {
            padding-left: 100px;

            ul {
                padding-left: 0;
            }
        }
    }

    ul li {
        margin-bottom: calc(var(--baseline)*0.5);
        padding-left: 2.5ch;

        &::before {
            content: "⟡";
            position: absolute;
            left: 0;
        }

        ul li {
            padding-left: 0;

            &::before {
                content: "⤍";
                position: relative;
                font-weight: 500;
                padding-right: 6px;
            }
        }
    }

    .date {
        white-space: nowrap;
    }

    a {
        text-decoration: underline dotted;

        &:hover {
            color: var(--color-light);
        }
    }

    .projets,
    .associatif {

        h2 {
            padding-left: 2.5ch;
            font-size: var(--font-size);
            line-height: var(--baseline);
            font-weight: 600;
            margin-top: var(--baseline);

            &::before {
                content: "⟡";
                position: absolute;
                left: 0;
                font-weight: normal;
            }

        }

        p,
        ul {
            padding-left: 2.5ch;
        }

        ul {
            li {
                &::before {
                    content: "⤍";
                }
            }
        }
    }


}




/* BUTTON PRINT ---------------------------------------------------------- */



.container-button{
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

#button-print{
    @include queries(phone){
        display: none;
    }
    z-index: 30;
    float: right;
    position: relative;
    top: calc(var(--baseline)*2.8);
    background: none;
    border: var(--border);
    padding: 0 1ch 10px 1ch;
    border-radius: 4px;
    color: #888;
    cursor: pointer;
    svg{
        width: 30px;
        top: 8px;
        margin-right: 10px;
        fill: #888;
       
    }
    &:hover{
        color: var(--color-light);
        border-color: var(--color-light);
        svg{ fill: var(--color-light)}
    }
}



#organisation-dévènements{
    // break-before: page;
}








/* PRINT ---------------------------------------------------------- */

@media print{

    @page{
        size: 210mm 297mm;
        margin-top: 12mm;
        margin-right: 12mm;
        margin-left: 60mm;
        margin-bottom: 18mm;
        @left-top{
            content: element(titleRunning);
            text-align: left;
            margin-left: 12mm;
        }
        @bottom-right{
            content: counter(page) "/" counter(pages);
            font-size: var(--font-size)
        }
    }
    .screen-only { display: none; }
    #button-print{ display: none; }

    
}


.header-cv {
    position: running(titleRunning);
}

@media screen{
    .screen-only { display: block!important; }
    .print-only{ display: none;}
   
}




#printcv{
    --font-size: 12px;
    font-size: 12px;
    --baseline: 18px;
    line-height: 18px;
    --color-text: black;
    // line-height: 20px;

    .print-only{ display: inline;}

    .website{ 
        display: inline!important; 
        a{
            font-weight: 600;
        }
    }

    #title-cv{
        margin: 0;
        color: currentColor;
        text-align: right;
        border-bottom: none;
        line-height: var(--baseline);
    }

    li{
        break-inside: avoid;
    }

    .cv-part{
        margin-bottom: calc(var(--baseline)*2)
    }

    .intro-cv{
        margin-top: calc(var(--baseline)*2);
        margin-bottom: calc(var(--baseline)*3);


        border-top: 1px dashed currentColor;
        border-bottom: 1px dashed currentColor;
        padding-top: var(--baseline);
        padding-bottom: calc(var(--baseline)*0.5);

        border: 1px dashed currentColor;
        padding-left: 2ch;
        padding-right: 4ch;

        li{
            margin-bottom: var(--baseline);
        }
    }
    

  

    h1 {
        margin-top: 0;
        margin-bottom: calc(var(--baseline)*2 - 1px);
        padding-bottom: 0;
        line-height: var(--baseline);
        border-bottom: 1px dashed currentColor;
    }

    .publications, .skills, .projets, .associatif {
        h1{
            margin-bottom: var(--baseline);
        }
        
    }

    .projets{
        h2{
            break-after: avoid; /* don't work */
        }
    }

    .skills ul li{
        margin-bottom: 0;
    }


 

    .formation,
    .enseignement,
    .workshops, 
    .conferences,
    .events {

        h2{
            line-height: 0;
            top: 9px;
        }
        p,
        ul {
            padding-left: 8ch;

            ul {
                padding-left: 0;
               
            }
        }
    }

    .projets ul li + li {
        margin-top: calc(var(--baseline)*-0.5)
    }



}



