#footer {
    border-top: var(--border);
    
    .container{ 
        @include max-width();
     }

    .socials { 
        margin-bottom: var(--baseline);
        li { display: inline-block; }
        svg { width: 18px; }
    }

    @include queries(desktop) { 
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
        .socials, .credits{
            display: inline-block;
            vertical-align: top;
        }
        .credits { margin-left: 4rem; }
    }
}



