#page-home section{
    border-bottom: var(--border);
    &:last-of-type { border-bottom: 0; }
    .section-title {
        font-size: calc(var(--font-size)*1.6);
        line-height: calc(var(--baseline)*1.4);
        margin-bottom: calc(var(--baseline)*2);
        color: var(--color);
        // border-bottom: 2px solid var(--color);
        // display: inline;
    }
}


#about{
    font-size: calc(var(--font-size)*1.6);
    line-height: calc(var(--baseline)*1.6); 
    @include queries(phone) {  
        font-size: calc(var(--font-size)*1.3);
        line-height: calc(var(--baseline)*1.3); 
        padding-top: calc(var(--baseline)*2.5)!important;
     }    
     a {
         color: var(--color);
         font-weight: 600;
         padding-left: 3px;
     }
     p{
         margin-bottom: 0.5em;
     }
}







#section-research {
    h2{
        font-size: calc(var(--font-size)*1);
        line-height: calc(var(--baseline)*1);
        color: var(--color);
        font-weight: 600;
        margin-top: calc(var(--baseline)*1);
        margin-bottom: calc(var(--baseline)*1);
    }

    ul {
        margin-bottom: calc(var(--baseline)*2);
        li {
            margin-bottom: calc(var(--baseline)*1);
            padding-left: 2em;
            &::before {
                content: "⟡";
                position: absolute;
                left: 0;
                font-weight: 600;
            }
        }
        ul{
            margin-bottom: 0;
            color: var(--color-light);
            li { 
                margin-bottom: 0; 
                padding-left: 0;
                &::before{
                    content: "⤍";
                    position: relative;
                    font-weight: 500;
                    padding-right: 6px;
                }
            }
        }
    }

    a {
        text-decoration: underline dotted;
        text-decoration-skip-ink: none;
        &:hover{ color: var(--color-hover); }
        @include queries(phone){ 
            text-decoration: underline!important;
            color: var(--color-light);
         }
    }

}


#container-nav-activites{


    h2{ display: none; }
    nav ul{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: calc(var(--baseline)*-1.5);
        li{
            padding: 0px;
            margin: 0px;
            padding-right: 3ch;
            white-space: nowrap;
            &::before{ content: ""; display: none;}
            &::after{
                content: ' '
            }

            a{
                text-decoration: none!important;
            }

            a::after{
                content: " →"
            }
        }
    }
}


#section-research div:target{
    padding-top: calc(var(--baseline)*2.5);
}

@include queries(phone) {
    #section-research div:target{
        padding-top: calc(var(--baseline)*5);
    }
}