#section-projects ul{
    margin-top: calc(var(--baseline)*1.5);

    li {
        display: inline-block;
        width: 100%;
        @include queries(520) { width: 46%; }
        @include queries(800) { width: 30%; }
        margin-right: var(--baseline);
        margin-bottom: var(--baseline);
        cursor: pointer;
    }

    @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        grid-gap: var(--baseline);
        li{
            display: block;
            width: 100%;
            margin: 0;
        }
    }
    

    figure{ 
        width: 100%;
        border: 1px solid #bfbfbf;
        overflow: hidden;
        padding: none;
        cursor: pointer;
        img{
            width: 100%;
            transform: scale(1.06);
            transition: transform 1s;
            cursor: pointer;
        }
    }

    .title-project{
        display: block;
        width: 100%;
        font-weight: 600; 
        color: #222;
        padding-left: 2em;
        padding-top: calc(var(--baseline)/4);
        padding-bottom: calc(var(--baseline)/2);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include queries(phone) {  
            font-size: calc(var(--font-size)*1.3);
            line-height: calc(var(--baseline)*1.3); 
         } 
        &::before {
            content: "⟡";
            position: absolute;
            left: 0;
            font-weight: 600;
        }
    }

    li:hover{
        cursor: pointer;
        .title-project { color: var(--color); }
            // img{
            //     -webkit-filter: brightness(50%);
            //     filter: brightness(50%);
            // }
        img{ transform: scale(1.2)}
    }

    
}

#page-projects #section-projects{

    padding-bottom: 10vh;
    .container{
        @include max-width();
    }

    .section-title {
        font-size: calc(var(--font-size)*1.6);
        line-height: calc(var(--baseline)*1.4);
        padding-top: calc(var(--baseline)*1.5);
        margin-bottom: calc(var(--baseline)*2);
        color: var(--color);
        // border-bottom: 2px solid var(--color);
        // display: inline;
    }


}
