#page-projects article {

    h1{
        margin-top: calc(var(--baseline)*1);
        margin-bottom: calc(var(--baseline)*1);

    }

    figure {
        width: 100%;
        margin-bottom: var(--baseline);
        img { width: 100%; }

         
        figcaption{
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
            padding-bottom: calc(var(--baseline)*1);
            margin: calc(var(--baseline)*0.25) auto calc(var(--baseline)*1) auto;
            text-align: center;
            max-width: 500px;
            color: var(--light-grey);
            // background-color: yellow;
        }
    }

    iframe {
        width: 100%;
        height: 1000px;
        max-height: 60vh;
        @include queries(phone){ display: none; }
    }



    .link-iframe::before {
        content: "⤍";
        padding-right: 6px;
    }

    .images-project {
        margin-top: calc(var(--baseline)*2);
        margin-bottom: calc(var(--baseline)*3);
    }



    
}



@include queries(desktop) {
    .portrait {
        width: 60%!important;
        max-height: 85vh!important;
        margin-left: 20%!important;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }  
}



