#list-slides{
    @include max-width();
    padding-bottom: 10vh;

    h1{
        font-size: calc(var(--font-size)*2.2);
        line-height: calc(var(--font-size)*2.2);
        margin-bottom: calc(var(--baseline)*2);
        padding-top: calc(var(--baseline)*2);
        font-weight: 400;
    }



    ul li {
        margin-bottom: var(--baseline);
        padding-left: 2em;
        &::before {
            content: "⟡";
            position: absolute;
            left: 0;
            font-weight: 600;
        }

        span{ display: block; }

         a {
            font-weight: 600;
            color: var(--color);
            text-decoration: underline dotted;
            text-decoration-skip-ink: none;
            em { font-weight: 600; }
            &:hover{ color: var(--color-hover);}
        }

    }

}