.highlight {
    @include queries(desktop) {
        margin: calc(var(--baseline)*2) 0;
        // .chroma { width: var(--max-width) }
   }
   @include queries(phone) { 
       margin: calc(var(--baseline)*2) 0; 
       .chroma { width: 100%; }
   }
   width: 100%;
}

.chroma{
    border-radius: 10px;
    padding: var(--baseline);
    padding-bottom: calc(var(--baseline) + 8px);
    overflow: scroll;
    code{
        font-family: 'NotCourierSans'!important;
        font-weight: bold!important;
        @include queries(desktop) {
            font-size: 18px;
        }
        @include queries(phone) {
            font-size: 16px;
        }
    }
    
    code span{
        font-family: 'NotCourierSans'!important;
        font-weight: bold!important;
        @include queries(desktop) {
            font-size: 18px;
            line-height: 22px;
        }
        @include queries(phone) {
            font-size: 16px;
            line-height: 20px;
        }
    }
    
}

// #FA7846
// #38B1F5

/* Background */ .chroma { color: #565656; background-color: var(--color-bg-code)}
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #f65058 }
/* KeywordConstant */ .chroma .kc { color: #f65058 }
/* KeywordDeclaration */ .chroma .kd { color: #f65058 }
/* KeywordNamespace */ .chroma .kn { color: #ae81ff }
/* KeywordPseudo */ .chroma .kp { color: #f65058 }
/* KeywordReserved */ .chroma .kr { color: #f65058 }
/* KeywordType */ .chroma .kt { color: #f65058 }
/* Name */ .chroma .n { color: #666666 }
/* NameAttribute */ .chroma .na { color: #2F7DA8 }
/* NameBuiltin */ .chroma .nb { color: #666666 }
/* NameBuiltinPseudo */ .chroma .bp { color: #666666 }
/* NameClass */ .chroma .nc { color: #2F7DA8 }
/* NameConstant */ .chroma .no { color: #f65058 }
/* NameDecorator */ .chroma .nd { color: #2F7DA8 }
/* NameEntity */ .chroma .ni { color: #666666 }
/* NameException */ .chroma .ne { color: #2F7DA8 }
/* NameFunction */ .chroma .nf { color: #2F7DA8 }
/* NameFunctionMagic */ .chroma .fm { color: #666666 }
/* NameLabel */ .chroma .nl { color: #666666 }
/* NameNamespace */ .chroma .nn { color: #666666 }
/* NameOther */ .chroma .nx { color: #2F7DA8 }
/* NameProperty */ .chroma .py { color: #666666 }
/* NameTag */ .chroma .nt { color: #ae81ff }
/* NameVariable */ .chroma .nv { color: #666666 }
/* NameVariableClass */ .chroma .vc { color: #666666 }
/* NameVariableGlobal */ .chroma .vg { color: #666666 }
/* NameVariableInstance */ .chroma .vi { color: #666666 }
/* NameVariableMagic */ .chroma .vm { color: #666666 }
/* Literal */ .chroma .l { color: #fa999e }
/* LiteralDate */ .chroma .ld { color: #38B1F5 }
/* LiteralString */ .chroma .s { color: #38B1F5 }
/* LiteralStringAffix */ .chroma .sa { color: #38B1F5 }
/* LiteralStringBacktick */ .chroma .sb { color: #38B1F5 }
/* LiteralStringChar */ .chroma .sc { color: #38B1F5 }
/* LiteralStringDelimiter */ .chroma .dl { color: #38B1F5 }
/* LiteralStringDoc */ .chroma .sd { color: #38B1F5 }
/* LiteralStringDouble */ .chroma .s2 { color: #38B1F5 }
/* LiteralStringEscape */ .chroma .se { color: #8045ff }
/* LiteralStringHe#f65058oc */ .chroma .sh { color: #38B1F5 }
/* LiteralStringInterpol */ .chroma .si { color: #38B1F5 }
/* LiteralStringOther */ .chroma .sx { color: #38B1F5 }
/* LiteralStringRegex */ .chroma .sr { color: #38B1F5 }
/* LiteralStringSingle */ .chroma .s1 { color: #38B1F5 }
/* LiteralStringSymbol */ .chroma .ss { color: #38B1F5 }
/* LiteralNumber */ .chroma .m { color: #fa999e }
/* LiteralNumberBin */ .chroma .mb { color: #fa999e }
/* LiteralNumberFloat */ .chroma .mf { color: #fa999e }
/* LiteralNumberHex */ .chroma .mh { color: #fa999e }
/* LiteralNumberInteger */ .chroma .mi { color: #fa999e }
/* LiteralNumberIntegerLong */ .chroma .il { color: #fa999e }
/* LiteralNumberOct */ .chroma .mo { color: #fa999e }
/* Operator */ .chroma .o { color: #ae81ff }
/* Operator */ .chroma .o { color: #666666 }
/* OperatorWord */ .chroma .ow { color: #ae81ff }
/* Punctuation */ .chroma .p { color: #666666 }
/* Comment */ .chroma .c { color: #999 }
/* CommentHashbang */ .chroma .ch { color: #999 }
/* CommentMultiline */ .chroma .cm { color: #999 }
/* CommentSingle */ .chroma .c1 { color: #999 }
/* CommentSpecial */ .chroma .cs { color: #999 }
/* CommentPreproc */ .chroma .cp { color: #999 }
/* CommentPreprocFile */ .chroma .cpf { color: #999 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericStrong */ .chroma .gs { font-weight: bold }
