#page-blog article,
#page-projects article {
    // @include max-width();

    h1 {
        font-size: calc(var(--font-size)*1.8);
        line-height: calc(var(--baseline)*1.4);

        @include queries(phone) {
            margin-top: calc(var(--baseline)*2);
        }

        color: var(--color);
    }

    p {
        margin-bottom: var(--baseline);
    }

    @include queries(phone) {

        p,
        li {
            font-size: calc(var(--font-size)*1.3);
            line-height: calc(var(--baseline)*1.3);
        }
    }

    a {
        color: var(--color-hover);
        text-decoration: underline dotted;
        text-decoration-skip-ink: none;

        &:hover {
            color: var(--color-light);
        }

        @include queries(phone) {
            text-decoration: underline !important;
            color: var(--color-light);
        }
    }

    ul {
        margin-top: var(--baseline);
        margin-bottom: calc(var(--baseline)*2);

        li {
            padding-left: 2em;

            &::before {
                content: "⟡";
                position: absolute;
                left: 0;
                font-weight: 600;
            }
        }
    }


    h2 {
        color: var(--color);
        margin-top: calc(var(--baseline)*3);
        margin-bottom: calc(var(--baseline)*1.5);
        font-size: calc(var(--font-size)*1.6);
        line-height: calc(var(--baseline)*1.4);
        padding-bottom: 16px;
        border-bottom: var(--border);
        font-weight: 500;

        &::before {
            content: "⟡";
            position: absolute;
            left: -60px
        }

        em {
            font-weight: 500;
        }
    }

    #first-elem+h2,
    #first-elem+h3 {
        margin-top: calc(var(--baseline)*1);
    }

    h3 {
        margin-top: calc(var(--baseline)*2.5);
        margin-bottom: calc(var(--baseline)*1.5);
        font-size: calc(var(--font-size)*1.4);
        line-height: calc(var(--baseline)*1.4);
        font-weight: 500;
        // border-bottom: var(--border);
    }

    h4 {
        margin-top: calc(var(--baseline)*1.5);
        margin-bottom: calc(var(--baseline)*1);
        font-size: var(--font-size);
        line-height: var(--baseline);
        // font-style: italic;
        // display: inline-block;
        // border-bottom: var(--border);
        font-weight: 600;
    }


   


}


.border img {
    border: 1px solid black;
}


video {
    width: 100%;

    @media screen and (min-width: 900px) {
        width: 90%;
        margin-left: 5%;
    }

    margin-bottom: calc(var(--baseline)*2);
    margin-top: calc(var(--baseline)*2);
}

.border-video {
    border: 4px solid #bfbfbf;
    border-bottom: 5px solid #bfbfbf;
}

p code,
li code {
    font-size: 0.8em;
    padding: 1px 8px 3px 8px;
    vertical-align: baseline;
    border-radius: 3px;
    // background-color: var(--color-light-bg);
    background-color: var(--color-bg-code);
    font-family: 'NotCourierSans';
    font-weight: bold;
    color: var(--color);
    line-height: 26px;
}


.cp_embed_wrapper {
    @include queries(desktop) {
        margin: calc(var(--baseline)*2);

        iframe {
            width: calc(100% - calc(var(--baseline)*4)) !important;
            border: 4px solid #bfbfbf
        }
    }

    @include queries(phone) {
        margin: calc(var(--baseline)*2) 0;

        iframe {
            width: 100%;
        }
    }

    width: 100%;

}



/* footnotes */


.footnote-ref {
    // background-color:green; 
    text-decoration: none !important;
    font-size: 1.2em;
    font-weight: 500;
    padding: 0 2px 0 4px;
}

.margin-note {

    // .footnote-return{ display: none; }

    @media screen and (max-width: 1300px) {
        display: none;
    }

    @media screen and (min-width: 1300px) {
        left: calc(var(--width-note) + var(--margins)*2);
        --width-note: 200px;
    }

    @media screen and (min-width: 1330px) {
        left: calc(var(--width-note) + var(--margins)*2);
        --width-note: 240px;
    }

    @media screen and (min-width: 1360px) {
        left: calc(var(--width-note) + var(--margins)*3);
        --width-note: 260px;
    }

    @media screen and (min-width: 1400px) {
        left: calc(var(--width-note) + var(--margins)*3);
        --width-note: 280px;
    }

    @media screen and (min-width: 1460px) {
        left: calc(var(--width-note) + var(--margins)*5);
        --width-note: 300px;
    }

    width: var(--width-note);
    // background-color: yellow;

    // position: absolute;
    // right: calc(var(--width-note) * -1 - var(--margins)*5);

    float: right;
    clear: both;
    margin-left: calc(var(--width-note)*-1);
    position: relative;






    counter-increment: note;
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    color: var(--light-grey);

    a {
        opacity: 0.9;
    }

    p {

        // position: relative; 
        // top: calc(var(--baseline)*-1);
        &::before {
            content: counter(note) ". ";
        }
    }



}

.footnotes {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);

    &::before{
        display: inline-block;
        content: "Notes";

        font-size: var(--font-size-small);
    line-height: var(--line-height-small);

        @include queries(phone){
            font-size: calc(var(--font-size)*1.3);
            line-height: calc(var(--baseline)*1.3);
        }
       
        border-bottom: 1px solid currentColor;
        margin-bottom: calc(var(--baseline)*1.3);
    }

    hr{
        display: none!important;
    }

    @include queries(phone){
       ol{
           padding-left: var(--margins);
       }
    }
}





 /* next/prev ------------------------------------------------------------------------------ */

 .paginator {

    width: 100%;
    border-top: var(--border);

    .container{
        display: flex;
        justify-content: space-between;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: calc(var(--baseline)*0.5) var(--margins);
    }

    a {
        color: var(--light-grey);
        display: block;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: var(--color-light);
        }
    }

    .previous::before,
    .next::before {
        display: block;
        font-weight: 600;
    }

    .previous::before {
        content: '← prev'
    }

    .next::before {
        content: 'next →';
    }

    @include queries(desktop) {

       
        a {
            width: 240px;
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
        }



        .previous::before,
        .next::before {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 0.8em;
        }

        .next {
            text-align: right;
        }

        .alone {
            margin-left: calc(100% - 240px);
        }
    }


    @include queries(phone) {



        a {
            width: 100%;
            text-decoration: none !important;
            text-transform: uppercase;
        }

        .next, .alone {
            text-align: right;
        }

        span {
            display: none;
        }

    }

}