<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Julie Blanc</title>

	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="375">
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	{{ hugo.Generator }}

	<!-- <meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="375">
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	{{ hugo.Generator }}
	{{/* NOTE: For Production make sure you add `HUGO_ENV="production"` before your build command */}}
	{{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
	<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
	{{ else }}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ end }} -->

	{{ $script := resources.Get "js/script.js" | minify }}
	<script src="{{ $script.Permalink }}"></script>
	{{ $regex := resources.Get "js/regex-typo.js" | minify }}
	<script src="{{ $regex.Permalink }}"></script>
	{{ $pagedjs := resources.Get "js/paged.js" | minify }}
	<script src="{{ $pagedjs.Permalink }}"></script>
	{{ $print := resources.Get "js/print.js" }}
	<script src="{{ $print.Permalink }}"></script>

	{{ $styles := resources.Get "scss/main.scss" | toCSS | minify }}
	<link rel="stylesheet" href="{{ $styles.Permalink }}">

	<!-- Font: Palanquin by Pria Ravichandran
	https://www.fontsquirrel.com/fonts/palanquin -->
	<link rel="stylesheet" href="/fonts/palanquin/stylesheet.css">

	<link rel="stylesheet" href="/fonts/notcouriersans/stylesheet.css">




<!-- 

	{{ block "favicon" . }}
	{{ partial "site-favicon.html" . }}
	{{ end }}
 -->
</head>

<body id="body-{{- .Params.id -}}">
	{{ block "header" . }}{{ partial "header.html" .}}{{ end }}
	<main role="main" id="page-{{lower .Type}}">
		{{ block "main" . }}{{ end }}
	</main>
	{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
	<!-- {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }} -->
</body>

</html>