	{{if eq .Site.Language.Lang "fr"}}
		{{if eq .Params.langfr true}}<li>{{else}}<li class="other-lang">{{ end }}
	{{else}}
		{{if eq .Params.langen true}}<li>{{else}}<li class="other-lang">{{ end }}
	{{ end }}

			<a href="{{ .Permalink }}">
				<h1>{{ .Title }}</h1>
			</a>
			<aside>
				<p class="lang-article">
					{{if eq .Site.Language.Lang "fr"}}
						{{if eq .Params.langfr true}}fr{{else}}en{{ end }}
					{{else}}
						{{if eq .Params.langen true}}en{{else}}fr{{ end }}
					{{ end }}
				</p>
				<p class="date">
					{{if eq .Site.Language.Lang "fr"}}
					{{ $month_names := slice "janvier" "février" "mars" "avril" "mai" "juin" "juillet" "août" "septembre" "octobre" "novembre" "décembre" }}
					{{ $month := sub .Date.Month 1 }}
					{{ .Date.Day }} {{ index $month_names $month }} {{ .Date.Year }}
					{{ else }}
					{{ .Date.Format "January 2, 2006" }}
					{{ end }}
				</p>
			</aside>
		</li>

