<footer role="contentinfo" id="footer">
	<div class="container">

		<!-- <ul>
			<li>{{ .Site.Title }}</li>
			<li>{{ .Site.Params.subtitle }}</li>
		</ul>
		 -->
		{{ partial "social-follow.html" . }}

		<ul class="credits">
			<li><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">(CC) BY–SA</a></li>
			<li>{{if eq .Site.Language.Lang "fr"}}Site généré avec Hugo{{else}}Website generated with Hugo{{end}}</li>
		</ul>

	</div>
    
</footer>