<header id="header">
	
	<div class="container-header">
	<hgroup>
		<a href="{{.Site.BaseURL}}">
		<h1>{{ .Site.Title }}</h1>
		<h2>{{ .Site.Params.subtitle }}</h2>
		</a>
	</hgroup>
	
	<nav>
		<ul class="nav">
			<li>
				<a href="{{ if eq .RelPermalink "/"}}#section-projects{{ else }}/en/#section-projects{{ end }}">
					{{if eq .Site.Language.Lang "fr"}}Projets{{else}}Projects{{end}}
				</a>
			</li>
			<li>
				<a href="{{ if eq .RelPermalink "/"}}#section-research{{ else }}/en/#section-research{{ end }}">
					{{if eq .Site.Language.Lang "fr"}}Activités{{else}}Activities{{end}}
				</a>
			</li>
			<li>
				
				{{if eq .Site.Language.Lang "fr"}}<a href="/blog/">Blog</a>{{else}}<a href="/en/blog/">Writing</a>{{end}}</a>
			</li>
		</ul>
		{{ partial "lang.html" . }}
	</nav>
	</div>

	

</header>

<div id="header-socials">
	{{ partial "social-follow.html" . }}
</div>



