<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
{{ $icon_size := "20px" }}
<div class="socials">
	<p class="mail">contact@julie-blanc.fr</p>
	<p class="adress">Paris (France)</p>
	<ul>
		<li>
			<a href="https://gitlab.com/JulieBlanc" target="_blank" class="gitlab" title="Gitlab link" rel="noopener" aria-label="follow on Gitlab——Opens in a new window">
				{{ partial "svg/gitlab.svg" (dict "size" $icon_size) }}
			</a>
		</li>
		<li>
			<a href="https://mastodon.design/@julieblanc" target="_blank" class="mastodon" title="Mastodon link" rel="noopener" aria-label="follow on Mastodon in a new window">
				{{ partial "svg/mastodon.svg" (dict "size" $icon_size) }}
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/julieblancfr/" target="_blank" class="gitlab" title="Gitlab link" rel="noopener" aria-label="follow on Instagram in a new window">
				{{ partial "svg/instagram.svg" (dict "size" $icon_size) }}
			</a>
		</li>
		<!-- <li>
			<a href="https://twitter.com/julieblancfr" target="_blank" class="twitter" title="Twitter link" rel="noopener" aria-label="follow on Twitter——Opens in a new window">
				{{ partial "svg/twitter.svg" (dict "size" $icon_size) }}
			</a>
		</li>
		<li>
			<a href="https://github.com/JulieBlanc" target="_blank" class="position: relative; left: 12%;" class="github" title="Github link" rel="noopener" aria-label="follow on Github——Opens in a new window">
				{{ partial "svg/github.svg" (dict "size" $icon_size) }}
			</a>
		</li> -->
		
	</ul>
</div>