<ul id="tags-list">
    <li>
      {{if eq .Site.Language.Lang "fr"}}
      <a href="/blog">All</a>
      {{ else }}
      <a href="/en/blog">All</a>
      {{ end }}
    </li>
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></li>
    {{ end }}
  </ul>