{{ define "main" }}
{{ $isHome := true }}

<section id="about">
<div class="container">
	{{ with .Site.GetPage "section" "about" }}
	{{ .Content }}
	{{ end }}
</div>
</section>

{{ with .Site.GetPage "section" "projects" }}
<section id="section-projects">
<div class="container">
	<h1 class="section-title">
		{{if eq .Site.Language.Lang "fr"}}Projets{{else}}Projects{{end}}
	</h1>
	<ul>	
		{{ range .Pages.ByDate.Reverse }}
		{{ if eq .Params.publish true }}
		<li id="article-{{ .Slug }}">
			<a href="{{ .RelPermalink  }}">		
				<figure>	
				<img src="{{ .RelPermalink  }}/images/couverture.jpg" loading="lazy">
			</figure>	
				<span class="title-project">{{ .Title }}</span>
			</a>
		</li>
		{{ end }}
		{{ end }}
	</ul>
</div>
</section>
{{ end }}

{{ with .Site.GetPage "section" "research" }}
<section id="section-research">
<div class="container">

	<h1 class="section-title" >
		{{if eq .Site.Language.Lang "fr"}}Activités{{else}}Activities {{end}}
	</h1>

	{{ range .Pages.ByDate }}
	<div id="container-{{ .Params.id }}">
		<h2 id="{{ .Params.id }}">{{ .Title }}</h2>
		{{ .Content }}
	</div>
	{{ end }}

</section>
</div>
{{ end }}


<!-- {{ with .Site.GetPage "section" "posts" }}
<section id="section-posts">
<div class="container">
<h1 class="section-title">{{ .Title }}</h1>

	{{ range .Pages.ByDate }}

	{{ .Title }}

	{{ end }}

</div>
</section>
{{ end }} -->






{{ end }}