@font-face {
    font-family: 'NotCourierSans';
    src: url('NotCourierSans-Bold.woff2') format('woff2'),
        url('NotCourierSans-Bold.woff') format('woff'),
        url('NotCourierSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NotCourierSans';
    src: url('NotCourierSans.woff2') format('woff2'),
        url('NotCourierSans.woff') format('woff'),
        url('NotCourierSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

