{{ $img := resources.Get (printf "images/%s" (.Get "src")) }}
{{ $img360 := $img.Resize "360x" }}
{{ $img720 := $img.Resize "720x" }}
{{ $img900 := $img.Resize "900x" }}
{{ $img1200 := $img.Resize "1200x" }}
{{ $img1400 := $img.Resize "1400x" }}
{{ $img1800 := $img.Resize "1800x" }}

<figure class="{{.Get `class`}}" style="{{.Get `style`}}" >
    <img src="{{ $img.RelPermalink }}"
         srcset="{{ $img360.RelPermalink }} 360w,
                 {{ $img720.RelPermalink }} 720w,
                 {{ $img900.RelPermalink }} 900w, 
                 {{ $img1200.RelPermalink }} 1200w, 
                 {{ $img1400.RelPermalink }} 1400w, 
                 {{ $img1800.RelPermalink }} 1800w" 
         sizes="(max-width: 920px) 100vw, (max-width: 1240) 860px, 1040px"
         alt="{{.Get `alt`}}"
         style="max-width: {{.Get `max-width`}}px;"
         loading="lazy"
    />
    {{ if .Get `caption` }}
    <figcaption>{{ .Get `caption` | markdownify }}</figcaption>
    {{ end }}
</figure>
